* {
    background:black;
    font-family: fantasy;
   
    
}
h1 {
    color:white;
    text-align: center;
    font-size: 25em;
}
.hlavniobrazek { 
    border-radius: 100%;
    width: 40%;
    
    
    

}

    
.nahlavniobrazek {
    text-align: center;

}
.slunce {
    width: 20%;
    
}
.země{
    width: 25%;
    
    
}


#container, #planety {
    display: flex;
    justify-content:space-around;
    width: 80%;
    
}

#planety li img {
    width: 40em;
}

li.item {
    padding: 2em;
}
li{
    margin: 0.2px;
    transition: 0.6s ease ;
}
li:hover {
font-size: 1.2em;
transition: 0.6 ease;
    /*
    .slunce, .merkur, .venuse, .zeme, .mars, .jupiter, .saturn, .uran, .neptun
     width
}
        
        .slunce, .merkur, .venuse, .zeme, .mars, .jupiter, .saturn, .uran, .neptun  {   
width:1em;


*/