* {
    background:black;
    font-family: monospace;
   
    
}
h1 {
    color:white;
    text-align: center;
    font-size: 15em;
}
.hlavniobrazek { 
    border-radius: 50%;
    width: 30%;
    
    
    

}

    
.nahlavniobrazek {
    text-align: center;

}



#container, #planety {
    display: flex;
    justify-content:space-between;
    width: 40%;
    
}

#planety li img {
    width: 10em;
}

li.item {
    padding: 1em;
}
li{
    margin: 1px;
    transition: 0.6s ease ;
}
li:hover {
font-size: 2em;
transition: 0.6 ease;
    /*
    .slunce, .merkur, .venuse, .zeme, .mars, .jupiter, .saturn, .uran, .neptun
     width
}
        
        .slunce, .merkur, .venuse, .zeme, .mars, .jupiter, .saturn, .uran, .neptun  {   
width:1em;


*/